node_modules
.git
.gitignore
.expo
.expo-shared
npm-debug.log
yarn-error.log

# desarrollo
*.log
*.tmp
*.cache

# mac / windows
.DS_Store
Thumbs.db

# testing / backups
__tests__/
*.spec.ts
*.spec.js
